:root {
    --primario: #73A605;
    --secundario: rgba(0, 0, 0, 0.7);
    --terciario: #F2522E;
    --blanco: #FFFFFF;
    --blancoTransparente: rgba(255, 255, 255, 0.7);
    --blancoMenosTransparente: rgba(255, 255, 255, 0.8);
    --negro: #000000;

    --fuentePrincipal: 'Roboto', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

body { 
    /*Ubicación de la imagen */
    background: url(../img/fondo-login.jpg);
    /*Para dejar la imagen de fondo centrada, vertical y horizontalmente*/
    background-position: center center;
    /* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido  */
    background-attachment: fixed;
    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador  */
    background-size: cover;
    /* Se muestra un color de fondo mientras se está cargando la imagen de fondo o si hay problemas para cargarla  */
    background-color: var(--primario);

    font-family: var(--fuentePrincipal);
}

input[type=submit] {
    cursor: pointer;
}

::-webkit-input-placeholder { 
    color: var(--negro); 
}

/* Logo pagina */
.logo {
    width: 130px;
    margin: 1rem 0 0 1rem;
    color: var(--blanco);
    text-align: center;
}
.logo__img {
    border-radius: 100%;
    width: 70px;
    height: 70px;
}
.logo__text{ 
    margin: 0;
}

/* Contenedor */
.contenedor {
    max-width: 25%;
    margin: 0 auto;
}

/* Login */
.login {
    text-align: center;
    background-color: var(--secundario);
    border-radius: 1rem;
    padding: 2rem 0;
}
.login__titulo {
    color: var(--blanco);
    text-align: center;
    font-size: 7rem;
    margin: 0;
}
.login__icono {
    fill: var(--blanco) ;
}
.login__campo { 
    background: var(--blanco);
	display: block;
	margin: 1rem auto;
    width: 80%;
	height: 4rem;
	border-radius: .8rem;
	border: 0;
}
.login__campo:nth-child(3) {
	margin-bottom: 3rem;
}
.login__boton {
	width: 80%;
	height: 4rem;
	background: var(--primario);
	border: 0;
	border-radius: .8rem;
    font-size: 2rem;
    color: var(--blanco);
}